include README
include LICENSE_AURA.txt
include LICENSE_MIT.txt
include distribute_setup.py
include xpa.pyx xpa.c
include xpa-2.1.14/conf.h.in
include xpa-2.1.14/configure
include xpa-2.1.14/configure.ac
include xpa-2.1.14/install-sh
include xpa-2.1.14/config.sub
include xpa-2.1.14/config.guess
include xpa-2.1.14/Makefile.in
include xpa-2.1.14/acl.c
include xpa-2.1.14/client.c
include xpa-2.1.14/clipboard.c
include xpa-2.1.14/command.c
include xpa-2.1.14/find.c
include xpa-2.1.14/find.h
include xpa-2.1.14/port.c
include xpa-2.1.14/prsetup.h
include xpa-2.1.14/remote.c
include xpa-2.1.14/tcp.c
include xpa-2.1.14/tcp.h
include xpa-2.1.14/timedconn.c
include xpa-2.1.14/timedconn.h
include xpa-2.1.14/word.c
include xpa-2.1.14/word.h
include xpa-2.1.14/xalloc.c
include xpa-2.1.14/xalloc.h
include xpa-2.1.14/xlaunch.c
include xpa-2.1.14/xlaunch.h
include xpa-2.1.14/xpa.c
include xpa-2.1.14/xpa.h
include xpa-2.1.14/xpaio.c
include xpa-2.1.14/xpap.h
include xpa-2.1.14/xport.h
include xpa-2.1.14/COPYING
